@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Public+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* ## Colors

### Primary */

  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /* ### Neutral */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}
html {
  font-size: 1.325rem;
  font-family: "Public" sans-serif;
  overflow-x: hidden;
}
img {
  display: inline-block;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.max__container {
  width: 1540px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Dark-Blue);
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 1rem;
}
ul li {
  list-style: none;
  color: var(--Grayish-Blue);
}
ul li button {
  color: white;
}
a {
  text-decoration: none;
}
p {
  color: var(--Grayish-Blue);
  font-size: 0.8rem;
}
.sect-1 {
  background: var(--Light-Grayish-Blue);
}
.head__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ul_nav {
  display: flex;
  gap: 1rem;
}
.navbar,
.button-w {
  display: none;
}
.menu {
  display: block;
}
@media (min-width: 1024px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .button-w {
    display: block;
  }
  .menu {
    display: none;
  }
}
section {
  margin: 8rem 0;
}
footer {
  background: var(--Dark-Blue);
  border-top-left-radius: 100px;
}
.navbar {
  transform: translateX(-120px);
  top: 80px;
  /* left: 0; */
  /* right: 0; */
  /* padding: 20; */
}

.sect-2 article {
  margin: 2rem 0px;
  background: var(--Light-Grayish-Blue);
}

@media (max-width: 576px) {
  .articule img {
    width: 100%;
    height: 40%;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  .articule img {
    width: 100%;
    height: 60%;
  }
  .navbar {
    transform: translateX(0);
    top: 0px;
  }
}
@media (min-width: 1440px) {
  .articule img {
    width: 100%;
    height: 40%;
  }
}

@media (max-width: 768px) {
  .articule img {
    width: 100%;
    height: 60%;
  }
  /* .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar {
    display: hidden;
  } */
}

/* @media (max-width: 840px) {
  .button {
    display: none;
  }
  .desk_view {
    display: hidden;
  }
} */
